swagger: '2.0'
info:
  title: illumidesk
  description: illumidesk API v1 description
  version: v1
host: api.illumidesk.com
schemes:
  - https
basePath: /api/v1
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Bearer:
    type: apiKey
    in: header
    name: Authorization
security:
  - Bearer: []
paths:
  /accounts/auth0/authorization-complete/:
    post:
      operationId: accounts_auth0_authorization_complete
      description: Authorize user by authorization code.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/AuthorizationComplete'
        - name: redirect_uri
          in: query
          description: This is URL for which we generated code.
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AuthorizationCompleteResponse'
        '403':
          description: Failure
          examples:
            application/json:
              detail: The "foo@example.com" email address is not verified.
              code: unverified_email
              user_id: auth0|628e202d470ff0006f5fcb06
      tags:
        - auth0
    parameters: []
  /accounts/auth0/authorization-url/:
    get:
      operationId: accounts_auth0_authorization_url
      description: |-
        Return a URL to redirect the customer's web browser to make an
        authorization request.
      parameters:
        - name: redirect_uri
          in: query
          description: After the user authenticates we will call back to this URL.
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AuthorizationURL'
      tags:
        - auth0
    parameters: []
  /accounts/auth0/send-change-password-email/:
    post:
      operationId: accounts_auth0_send_change_password_email
      description: ''
      parameters: []
      responses:
        '200':
          description: Success
          examples:
            application/json:
              detail: An email with a link to the password change page has been sent
                to your email address.
        '400':
          description: Failure
          examples:
            application/json:
              detail: You cannot change password because user account does not exist
                in the Auth0 database.
      tags:
        - auth0
    parameters: []
  /accounts/auth0/send-verification-email/:
    post:
      operationId: accounts_auth0_send_verification_email
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/SendVerificationEmail'
      responses:
        '200':
          description: Success
          examples:
            application/json:
              detail: An email with a link to verify your account has been sent to
                your email address.
        '400':
          description: Failure
          examples:
            application/json:
              detail: Unauthorized.
      tags:
        - auth0
    parameters: []
  /accounts/avatar/:
    post:
      operationId: accounts_avatar_create
      description: ''
      parameters:
        - name: avatar
          in: formData
          required: true
          type: file
      responses:
        '200':
          description: Success
          examples:
            application/json:
              url: 
                https://example.com/accounts/2ea3f567-35d8-4ebe-b196-136a1fd8afb0/avatars/luzokifwcjbhbitwnsplropkojxlwwth.jpg
        '400':
          description: Failure
          examples:
            application/json:
              detail: Invalid content type.
      consumes:
        - multipart/form-data
      tags:
        - accounts
    delete:
      operationId: accounts_avatar_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: Success
        '400':
          description: Failure
          examples:
            application/json:
              detail: Avatar has been already deleted.
      consumes:
        - multipart/form-data
      tags:
        - accounts
    parameters: []
  /accounts/change-password/:
    put:
      operationId: accounts_change-password_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChangePassword'
      responses:
        '204':
          description: ''
      tags:
        - accounts
    parameters: []
  /accounts/confirm-reset-password/:
    post:
      operationId: accounts_confirm-reset-password_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmResetPassword'
      responses:
        '204':
          description: ''
      tags:
        - accounts
    parameters: []
  /accounts/create-test-user/:
    post:
      operationId: accounts_create-test-user_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateTestUser'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CreateTestUser'
      tags:
        - accounts
    parameters: []
  /accounts/delete-test-user/:
    delete:
      operationId: accounts_delete-test-user_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - accounts
    parameters: []
  /accounts/forgot-subdomain/:
    post:
      operationId: accounts_forgot-subdomain_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ForgotSubdomain'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ForgotSubdomain'
      tags:
        - accounts
    parameters: []
  /accounts/me/:
    get:
      operationId: accounts_me_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserProfile'
      tags:
        - accounts
    put:
      operationId: accounts_me_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserProfile'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserProfile'
      tags:
        - accounts
    patch:
      operationId: accounts_me_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UserProfile'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/UserProfile'
      tags:
        - accounts
    parameters: []
  /accounts/me/delete/:
    delete:
      operationId: accounts_me_delete_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - accounts
    parameters: []
  /accounts/preferences/notification/:
    get:
      operationId: accounts_preferences_notification_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AccountNotificationPreferences'
      tags:
        - accounts
    put:
      operationId: accounts_preferences_notification_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/AccountNotificationPreferences'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AccountNotificationPreferences'
      tags:
        - accounts
    patch:
      operationId: accounts_preferences_notification_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/AccountNotificationPreferences'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AccountNotificationPreferences'
      tags:
        - accounts
    parameters: []
  /accounts/register/:
    post:
      operationId: accounts_register_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/AccountRegistration'
      responses:
        '201':
          description: Account created
          schema:
            required:
              - token
              - campus_slug
            type: object
            properties:
              token:
                type: string
              campus_slug:
                type: string
          examples:
            application/json:
              token: user_token
              campus_slug: campus-slug
      tags:
        - accounts
    parameters: []
  /accounts/send-verification-email/:
    post:
      operationId: accounts_send-verification-email_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ForgotSubdomain'
      responses:
        '204':
          description: Email verification sent successfully
      tags:
        - accounts
    parameters: []
  /accounts/verify-email/:
    post:
      operationId: accounts_verify-email_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/VerifyEmail'
      responses:
        '204':
          description: Email verified successfully
      tags:
        - accounts
    parameters: []
  /campuses/:
    get:
      operationId: campuses_list
      description: ''
      parameters:
        - name: search
          in: query
          description: A search term.
          required: false
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/CampusList'
      tags:
        - campuses
    post:
      operationId: campuses_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Campus'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Campus'
      tags:
        - campuses
    parameters: []
  /campuses/auth-info/:
    get:
      operationId: campuses_auth-info_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: Campus Auth Info
          schema:
            required:
              - login_type
              - campus_slug
            type: object
            properties:
              login_type:
                type: string
                enum:
                  - default_auth0
                  - campus_auth0
                  - custom_login
              campus_slug:
                type: string
          examples:
            application/json:
              login_type: campus_auth0
              campus_slug: my-campus
      tags:
        - campuses
    parameters: []
  /campuses/generate-slug/:
    post:
      operationId: campuses_generate-slug_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CampusGenerateSlug'
      responses:
        '200':
          description: Success
          schema:
            required:
              - slug
            type: object
            properties:
              slug:
                type: string
          examples:
            application/json:
              slug: my-campus
      tags:
        - campuses
    parameters: []
  /campuses/invitation-accept/:
    post:
      operationId: campuses_invitation-accept_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CampusInvitationAccept'
      responses:
        '200':
          description: Invitation accepted.
          schema:
            required:
              - token
            type: object
            properties:
              token:
                type: string
          examples:
            application/json:
              token: test_invitation_token
      tags:
        - campus-invitations
    parameters: []
  /campuses/public/campuses/{campus_slug}/:
    get:
      operationId: campuses_public_campuses_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusPublic'
      tags:
        - campuses
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/public/campuses/{campus_slug}/courses/:
    get:
      operationId: campuses_public_campuses_courses_list
      description: ''
      parameters:
        - name: search
          in: query
          description: A search term.
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/CoursePublicList'
      tags:
        - courses
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/validate-slug/:
    post:
      operationId: campuses_validate-slug_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CampusValidateSlug'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CampusValidateSlug'
      tags:
        - campuses
    parameters: []
  /campuses/{campus_slug}/:
    get:
      operationId: campuses_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Campus'
      tags:
        - campuses
    put:
      operationId: campuses_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Campus'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Campus'
      tags:
        - campuses
    patch:
      operationId: campuses_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Campus'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Campus'
      tags:
        - campuses
    delete:
      operationId: campuses_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - campuses
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/auth0/authorization-url/:
    get:
      operationId: campuses_auth0_authorization_url
      description: |-
        Return a URL to redirect the customer's web browser to make an
        authorization request.
      parameters:
        - name: redirect_uri
          in: query
          description: After the user authenticates we will call back to this URL.
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AuthorizationURL'
      tags:
        - auth0
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/base-images/:
    get:
      operationId: campuses_base_images
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BaseImage'
      tags:
        - campuses
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/courses/:
    get:
      operationId: campuses_courses_list
      description: ''
      parameters:
        - name: search
          in: query
          description: A search term.
          required: false
          type: string
        - name: campus
          in: query
          description: ''
          required: false
          type: string
        - name: status
          in: query
          description: ''
          required: false
          type: string
        - name: ordering
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/CourseList'
      tags:
        - courses
    post:
      operationId: campuses_courses_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CourseCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CourseCreate'
      tags:
        - courses
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/courses/generate-slug/:
    post:
      operationId: campuses_courses_generate-slug_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CourseGenerateSlug'
      responses:
        '200':
          description: Success
          schema:
            required:
              - slug
            type: object
            properties:
              slug:
                type: string
          examples:
            application/json:
              slug: my-campus
      tags:
        - courses
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/courses/search/:
    get:
      operationId: campuses_courses_search_list
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/CourseLessonSearchList'
      tags:
        - courses
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/custom-domain/:
    get:
      operationId: campuses_custom-domain_list
      description: Get custom domain for a campus.
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusCustomDomain'
      tags:
        - campus-custom-domain
    put:
      operationId: campuses_custom-domain_update
      description: Register a new campus domain.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CampusCustomDomain'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusCustomDomain'
      tags:
        - campus-custom-domain
    delete:
      operationId: campuses_custom-domain_delete
      description: Delete a campus custom domain.
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - campus-custom-domain
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/custom-domain/verify/:
    post:
      operationId: campuses_custom-domain_verify_create
      description: Verify a campus custom domain.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusCustomDomain'
        '404':
          description: Not Found
      tags:
        - campus-custom-domain
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/custom-style/:
    get:
      operationId: campuses_custom-style_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/CampusCustomStyle'
      tags:
        - campuses
    put:
      operationId: campuses_custom-style_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CampusCustomStyle'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusCustomStyle'
      tags:
        - campuses
    patch:
      operationId: campuses_custom-style_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CampusCustomStyle'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusCustomStyle'
      tags:
        - campuses
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/email-settings/:
    get:
      operationId: campuses_email-settings_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusEmailSettings'
      tags:
        - campuses
    put:
      operationId: campuses_email-settings_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CampusEmailSettings'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusEmailSettings'
      tags:
        - campuses
    patch:
      operationId: campuses_email-settings_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CampusEmailSettings'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusEmailSettings'
      tags:
        - campuses
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/invitations-by-token/{token}/:
    get:
      operationId: campuses_invitations-by-token_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusInvitationPublic'
      tags:
        - campus-invitations
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
      - name: token
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/login/:
    post:
      operationId: campuses_login_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Login'
        - name: redirect_uri
          in: query
          description: This is URL for which we generated code.
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AuthorizationCompleteResponse'
        '403':
          description: Failure
          examples:
            application/json:
              detail: The "foo@example.com" email address is not verified.
              code: unverified_email
              user_id: auth0|628e202d470ff0006f5fcb06
      tags:
        - campuses
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/lti-integrations/:
    get:
      operationId: campuses_lti-integrations_list
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/LTIIntegration'
      tags:
        - campus-lti-integrations
    post:
      operationId: campuses_lti-integrations_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/LTIIntegration'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/LTIIntegration'
      tags:
        - campus-lti-integrations
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/lti-integrations/{integration_uuid}/:
    get:
      operationId: campuses_lti-integrations_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/LTIIntegration'
      tags:
        - campus-lti-integrations
    put:
      operationId: campuses_lti-integrations_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/LTIIntegration'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/LTIIntegration'
      tags:
        - campus-lti-integrations
    patch:
      operationId: campuses_lti-integrations_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/LTIIntegration'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/LTIIntegration'
      tags:
        - campus-lti-integrations
    delete:
      operationId: campuses_lti-integrations_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - campus-lti-integrations
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
      - name: integration_uuid
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/members/:
    get:
      operationId: campuses_members_list
      description: ''
      parameters:
        - name: search
          in: query
          description: A search term.
          required: false
          type: string
        - name: role
          in: query
          description: ''
          required: false
          type: string
        - name: ordering
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/CampusMember'
      tags:
        - campus-members
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/members/{user_uuid}/:
    get:
      operationId: campuses_members_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusMemberUpdate'
      tags:
        - campus-members
    put:
      operationId: campuses_members_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CampusMemberUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusMemberUpdate'
      tags:
        - campus-members
    patch:
      operationId: campuses_members_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CampusMemberUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusMemberUpdate'
      tags:
        - campus-members
    delete:
      operationId: campuses_members_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - campus-members
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
      - name: user_uuid
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/notifications/:
    get:
      operationId: campuses_notifications_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Notification'
      tags:
        - notifications
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/notifications/count/:
    get:
      operationId: campuses_notifications_count_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: Notification count.
          schema:
            required:
              - unread
            type: object
            properties:
              unread:
                type: integer
          examples:
            application/json:
              unread: 5
      tags:
        - notifications
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/notifications/mark-read/:
    post:
      operationId: campuses_notifications_mark-read_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/NotificationIds'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/NotificationIds'
      tags:
        - notifications
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/reset-password/:
    post:
      operationId: campuses_reset-password_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResetPassword'
      responses:
        '204':
          description: ''
      tags:
        - campuses
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/send-test-email/:
    post:
      operationId: campuses_send-test-email_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CampusTestEmailProvider'
      responses:
        '200':
          description: Test email sent successfully
        '400':
          description: Failure
          schema:
            required:
              - detail
            type: object
            properties:
              detail:
                description: Error message
                type: string
          examples:
            application/json:
              detail: 'Error sending test email: SMTP error'
      tags:
        - campuses
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/subscriptions/info/:
    get:
      operationId: campuses_subscriptions_info_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusSubscription'
      tags:
        - subscriptions
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/subscriptions/subscribe/:
    post:
      operationId: campuses_subscriptions_subscribe_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Subscribe'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CampusSubscription'
      tags:
        - subscriptions
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/subscriptions/surplus-instructors/:
    post:
      operationId: campuses_subscriptions_surplus-instructors_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/RequestSurplusInstructors'
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              surplus_instructors:
                type: array
                items:
                  type: object
                  properties:
                    email:
                      type: string
                    courses:
                      type: array
                      items:
                        type: string
      tags:
        - subscriptions
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/templates/:
    get:
      operationId: campuses_templates_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/CourseTemplateList'
      tags:
        - templates
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/user-invitations/:
    get:
      operationId: campuses_user-invitations_list
      description: ''
      parameters:
        - name: search
          in: query
          description: A search term.
          required: false
          type: string
        - name: role
          in: query
          description: ''
          required: false
          type: string
        - name: status
          in: query
          description: ''
          required: false
          type: string
        - name: ordering
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/CampusInvitation'
      tags:
        - campus-invitations
    post:
      operationId: campuses_user-invitations_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CampusInvitations'
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/CampusInvitation'
      tags:
        - campus-invitations
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/user-invitations/{id}/:
    delete:
      operationId: campuses_user-invitations_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - campus-invitations
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
      - name: id
        in: path
        required: true
        type: string
  /campuses/{campus_slug}/user-invitations/{id}/resend/:
    put:
      operationId: campuses_user-invitations_resend_update
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CampusInvitation'
      tags:
        - campus-invitations
    parameters:
      - name: campus_slug
        in: path
        required: true
        type: string
      - name: id
        in: path
        required: true
        type: string
  /chats/ai-chat/messages/:
    get:
      operationId: chats_ai-chat_messages_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/AIChatMessage'
      tags:
        - chats
    post:
      operationId: chats_ai-chat_messages_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/AIChatMessage'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/AIChatMessage'
      tags:
        - chats
    parameters: []
  /chats/ai-chat/messages/{message_uuid}/regenerate/:
    post:
      operationId: chats_ai-chat_messages_regenerate_create
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/AIChatMessage'
        '400':
          description: Your AI Request timed out, please try again
      tags:
        - chats
    parameters:
      - name: message_uuid
        in: path
        required: true
        type: string
  /courses/activity-images/:
    get:
      operationId: courses_activity-images_list
      description: ''
      parameters:
        - name: search
          in: query
          description: A search term.
          required: false
          type: string
        - name: language
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/BaseImage'
      tags:
        - courses
    parameters: []
  /courses/chat-completion/:
    post:
      operationId: courses_chat-completion_create
      description: Get a response from OpenAI
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChatCompletionRequestCreate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ChatCompletionRequest'
        '400':
          description: Your AI Request timed out, please try again
      tags:
        - ai
    parameters: []
  /courses/chat-completion/favorites/:
    get:
      operationId: courses_chat-completion_favorites_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ChatCompletionRequestList'
      tags:
        - ai
    parameters: []
  /courses/chat-completion/favorites/{chat_id}/:
    put:
      operationId: courses_chat-completion_favorites_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChatCompletionRequestUpdateFavorite'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ChatCompletionRequestUpdateFavorite'
      tags:
        - ai
    patch:
      operationId: courses_chat-completion_favorites_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ChatCompletionRequestUpdateFavorite'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ChatCompletionRequestUpdateFavorite'
      tags:
        - ai
    parameters:
      - name: chat_id
        in: path
        required: true
        type: string
  /courses/chat-completion/recents/:
    get:
      operationId: courses_chat-completion_recents_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ChatCompletionRequestList'
      tags:
        - ai
    parameters: []
  /courses/chat-completion/recents/{chat_id}/:
    delete:
      operationId: courses_chat-completion_recents_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - ai
    parameters:
      - name: chat_id
        in: path
        required: true
        type: string
  /courses/invitation-accept/:
    post:
      operationId: courses_invitation-accept_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CourseInvitationAccept'
      responses:
        '200':
          description: Invitation accepted.
          schema:
            required:
              - token
            type: object
            properties:
              token:
                type: string
          examples:
            application/json:
              token: test_invitation_token
      tags:
        - course-invitations
    parameters: []
  /courses/validate-slug/:
    post:
      operationId: courses_validate-slug_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CourseValidateSlug'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CourseValidateSlug'
      tags:
        - courses
    parameters: []
  /courses/{course_slug}/:
    get:
      operationId: courses_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CourseDetail'
      tags:
        - courses
    put:
      operationId: courses_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CourseDetail'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CourseDetail'
      tags:
        - courses
    patch:
      operationId: courses_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CourseDetail'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CourseDetail'
      tags:
        - courses
    delete:
      operationId: courses_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - courses
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/:
    get:
      operationId: courses_activities_list
      description: ''
      parameters:
        - name: search
          in: query
          description: A search term.
          required: false
          type: string
        - name: status
          in: query
          description: ''
          required: false
          type: string
        - name: ordering
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ActivityList'
      tags:
        - activities
    post:
      operationId: courses_activities_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ActivityDetail'
      tags:
        - activities
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/import/:
    post:
      operationId: courses_activities_import_from_notebook
      summary: Imports activity from notebook.
      description: |-
        **Error codes**:

            - invalid_cells - Notebook has invalid cells. Import can be continued with the skip_invalid_cells flag.
            - invalid_notebook - Notebook is invalid. Import cannot be continued.
            - not_supported_language - Notebook language is not supported. Import cannot be continued.
            - too_many_invalid_cells - Notebook contains to many invalid cells. Import cannot be continued.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityImport'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ActivityDetail'
        '400':
          description: Failure
          examples:
            application/json:
              detail: Notebook file is invalid.
              code: invalid_notebook
      tags:
        - activities
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/:
    get:
      operationId: courses_activities_read
      description: ''
      parameters:
        - name: fields
          in: query
          required: true
          type: array
          items:
            type: string
            minLength: 1
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ActivityDetail'
      tags:
        - activities
    put:
      operationId: courses_activities_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ActivityDetail'
      tags:
        - activities
    patch:
      operationId: courses_activities_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ActivityDetail'
      tags:
        - activities
    delete:
      operationId: courses_activities_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/attachments-by-chunked/:
    post:
      operationId: courses_activities_add_attachment_by_chunked_upload
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityAttachmentAddByChunkedUpload'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ActivityAttachment'
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/attachments/:
    get:
      operationId: courses_activities_attachments_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityAttachment'
      tags:
        - activities
    post:
      operationId: courses_activities_attachments_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityAttachmentAdd'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ActivityAttachment'
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/attachments/{attachment_uuid}/:
    delete:
      operationId: courses_activities_delete_attachment
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: attachment_uuid
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/cells/:
    get:
      operationId: courses_activities_cells_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityCells'
      tags:
        - activities
    put:
      operationId: courses_activities_cells_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityCells'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ActivityCells'
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/cells/execution-state/:
    get:
      operationId: courses_activities_cells_cells_execution_state
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CellsExecutionState'
        '404':
          description: 'Error: Not Found'
          examples:
            application/json:
              detail: Not found.
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/copy/:
    post:
      operationId: courses_activities_copy_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityCopy'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ActivityDetail'
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/export/:
    get:
      operationId: courses_activities_export
      description: |-
        Converts activity to Jupyter notebook format with nbgrader metadata
        and exports to plain ipynb file or zip archive if activity has at
        least one attachment.
      parameters: []
      responses:
        '200':
          description: ipynb file or zip archive
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/generate-unittests/:
    post:
      operationId: courses_activities_generate_unittests
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/GenerateUnittests'
      responses:
        '200':
          description: Unittests generated.
          schema:
            required:
              - tests
            type: object
            properties:
              tests:
                type: string
          examples:
            application/json:
              tests: assert True
      tags:
        - ai
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/publish/:
    post:
      operationId: courses_activities_publish
      description: ''
      parameters: []
      responses:
        '200':
          description: Success
          examples:
            application/json:
              detail: Activity has been successfully published.
        '400':
          description: Failure
          examples:
            application/json:
              detail: Activity cannot be published.
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/submissions/:
    get:
      operationId: courses_activities_submissions_read
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
        - name: search
          in: query
          type: string
        - name: status
          in: query
          type: string
        - name: ordering
          in: query
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivitySubmissionList'
      tags:
        - activities
    post:
      operationId: courses_activities_submissions_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivitySubmissionCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ActivitySubmissionCreate'
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/sync-grades/:
    post:
      operationId: courses_activities_sync_grades
      description: ''
      parameters: []
      responses:
        '200':
          description: Success
          examples:
            application/json:
              detail: Sync grades has been successfully finished.
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/unpublish/:
    post:
      operationId: courses_activities_unpublish
      description: ''
      parameters: []
      responses:
        '200':
          description: Success
          examples:
            application/json:
              detail: Activity has been successfully unpublished.
        '400':
          description: Failure
          examples:
            application/json:
              detail: Activity cannot be unpublished.
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/validate/:
    post:
      operationId: courses_activities_validate
      description: ''
      parameters: []
      responses:
        '202':
          description: Success
          examples:
            application/json:
              detail: Validation has been successfully started.
        '423':
          description: Failure
          examples:
            application/json:
              detail: Resource is locked.
              code: resource_locked
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/activities/{activity_slug}/validation-results/:
    get:
      operationId: courses_activities_validation_results
      description: ''
      parameters: []
      responses:
        '200':
          description: Success
          examples:
            application/json:
              detail: Validation results returned.
        '423':
          description: Failure
          examples:
            application/json:
              detail: Resource is locked.
              code: resource_locked
      tags:
        - activities
    parameters:
      - name: activity_slug
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/chunked-upload-complete/:
    post:
      operationId: courses_chunked-upload-complete_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CompleteChunkUpload'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CompleteChunkUpload'
      tags:
        - courses
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/chunked-upload/:
    post:
      operationId: courses_chunked-upload_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddChunkByActivity'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/AddChunkByActivity'
      tags:
        - courses
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/comments/:
    post:
      operationId: courses_comments_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CommentCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CommentCreate'
      tags:
        - discussions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/comments/{comment_uuid}/:
    get:
      operationId: courses_comments_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CommentRead'
      tags:
        - discussions
    put:
      operationId: courses_comments_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Comment'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Comment'
      tags:
        - discussions
    patch:
      operationId: courses_comments_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Comment'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Comment'
      tags:
        - discussions
    delete:
      operationId: courses_comments_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - discussions
    parameters:
      - name: comment_uuid
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/comments/{comment_uuid}/reactions/:
    put:
      operationId: courses_comments_update_user_reactions
      description: Update user reactions
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Reaction'
      responses:
        '204':
          description: No content
      tags:
        - discussions
    parameters:
      - name: comment_uuid
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/discussions/:
    post:
      operationId: courses_discussions_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/DiscussionCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/DiscussionCreate'
      tags:
        - discussions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/discussions/{discussion_uuid}/:
    get:
      operationId: courses_discussions_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/DiscussionRead'
      tags:
        - discussions
    put:
      operationId: courses_discussions_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Discussion'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Discussion'
      tags:
        - discussions
    patch:
      operationId: courses_discussions_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Discussion'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Discussion'
      tags:
        - discussions
    delete:
      operationId: courses_discussions_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - discussions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: discussion_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/discussions/{discussion_uuid}/reactions/:
    put:
      operationId: courses_discussions_update_user_reactions
      description: Update user reactions
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Reaction'
      responses:
        '204':
          description: No content
      tags:
        - discussions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: discussion_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/import-repository/:
    post:
      operationId: courses_import_repository
      description: Imports activities from github repository.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CourseImportRepository'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CourseImportRepository'
      tags:
        - courses
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/invitations-by-token/{token}/:
    get:
      operationId: courses_invitations-by-token_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CourseInvitationPublic'
      tags:
        - course-invitations
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: token
        in: path
        required: true
        type: string
  /courses/{course_slug}/invitations/:
    get:
      operationId: courses_invitations_list
      description: ''
      parameters:
        - name: search
          in: query
          description: A search term.
          required: false
          type: string
        - name: role
          in: query
          description: ''
          required: false
          type: string
        - name: status
          in: query
          description: ''
          required: false
          type: string
        - name: ordering
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/CourseInvation'
      tags:
        - course-invitations
    post:
      operationId: courses_invitations_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CourseInvitationsCreate'
      responses:
        '201':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/CourseInvation'
      tags:
        - course-invitations
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/invitations/{id}/resend/:
    put:
      operationId: courses_invitations_resend_update
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CourseInvation'
      tags:
        - course-invitations
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: id
        in: path
        required: true
        type: string
  /courses/{course_slug}/invitations/{uuid}/:
    delete:
      operationId: courses_invitations_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - course-invitations
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/lessons/:
    get:
      operationId: courses_lessons_list
      description: ''
      parameters:
        - name: search
          in: query
          type: string
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/LessonList'
      tags:
        - lessons
    post:
      operationId: courses_lessons_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Lesson'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Lesson'
      tags:
        - lessons
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/lessons/search/:
    get:
      operationId: courses_lessons_search_list
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/LessonSearchList'
      tags:
        - lessons
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/lessons/{lesson_uuid}/:
    get:
      operationId: courses_lessons_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Lesson'
      tags:
        - lessons
    put:
      operationId: courses_lessons_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Lesson'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Lesson'
      tags:
        - lessons
    patch:
      operationId: courses_lessons_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Lesson'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Lesson'
      tags:
        - lessons
    delete:
      operationId: courses_lessons_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - lessons
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: lesson_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/participants/:
    get:
      operationId: courses_participants_list
      description: ''
      parameters:
        - name: search
          in: query
          description: A search term.
          required: false
          type: string
        - name: role
          in: query
          description: ''
          required: false
          type: string
        - name: ordering
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/CourseParticipant'
      tags:
        - course-participants
    post:
      operationId: courses_participants_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CourseParticipantsAdd'
      responses:
        '201':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/CourseParticipant'
      tags:
        - course-participants
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/participants/mention-search/:
    get:
      operationId: courses_participants_mention-search_list
      description: ''
      parameters:
        - name: search
          in: query
          description: A search term.
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/CourseParticipantMention'
      tags:
        - course-participants
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/participants/{user_uuid}/:
    get:
      operationId: courses_participants_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CourseParticipantUpdate'
      tags:
        - course-participants
    put:
      operationId: courses_participants_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CourseParticipantUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CourseParticipantUpdate'
      tags:
        - course-participants
    patch:
      operationId: courses_participants_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CourseParticipantUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CourseParticipantUpdate'
      tags:
        - course-participants
    delete:
      operationId: courses_participants_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - course-participants
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: user_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/public/:
    get:
      operationId: courses_public
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CoursePublic'
      tags:
        - courses
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/publish/:
    post:
      operationId: courses_publish
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CourseDetail'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/CourseDetail'
      tags:
        - courses
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/:
    get:
      operationId: courses_submissions_list
      description: ''
      parameters:
        - name: search
          in: query
          description: A search term.
          required: false
          type: string
        - name: status
          in: query
          description: ''
          required: false
          type: string
        - name: ordering
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ActivitySubmissionList'
      tags:
        - submissions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/autograde/:
    post:
      operationId: courses_submissions_bulk_autograde
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivitySubmissionBulkAutograde'
      responses:
        '200':
          description: Success
          examples:
            application/json:
              detail: Submissions bulk auto grading has been successfully started.
        '400':
          description: Error
          examples:
            application/json:
              activity_submissions:
                - Invalid pk "1e01b309-ca3d-4b3c-9cb4-57ff1afd3c52" - object does
                  not exist.
      tags:
        - submissions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/{submission_uuid}/:
    get:
      operationId: courses_submissions_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ActivitySubmissionDetail'
      tags:
        - submissions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: submission_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/{submission_uuid}/allow-resubmission/:
    post:
      operationId: courses_submissions_allow_resubmission
      description: ''
      parameters: []
      responses:
        '200':
          description: Submission has been successfully resubmitted.
          examples:
            application/json:
              detail: Submission has been successfully submitted.
        '400':
          description: Submission cannot be submitted.
          examples:
            application/json:
              detail: Submission cannot be resubmitted.
      tags:
        - submissions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: submission_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/{submission_uuid}/autograde/:
    post:
      operationId: courses_submissions_autograde
      description: ''
      parameters: []
      responses:
        '202':
          description: Submission auto grading has been successfully started.
          examples:
            application/json:
              detail: Submission auto grading has been successfully started.
        '400':
          description: Submission cannot be auto graded.
          examples:
            application/json:
              detail: Submission cannot be auto graded.
      tags:
        - submissions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: submission_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/{submission_uuid}/cell-submissions/:
    get:
      operationId: courses_submissions_cell-submissions_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ActivityCellSubmissionList'
      tags:
        - submissions
    post:
      operationId: courses_submissions_cell-submissions_create
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityCellSubmissionCreate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ActivityCellSubmissionDetail'
      tags:
        - submissions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: submission_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/{submission_uuid}/cell-submissions/execution-state/:
    get:
      operationId: courses_submissions_cell-submissions_cell_submissions_execution_state
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/CellsExecutionState'
        '404':
          description: 'Error: Not Found'
          examples:
            application/json:
              detail: Not found.
      tags:
        - submissions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: submission_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/{submission_uuid}/cell-submissions/{cell_submission_uuid}/:
    put:
      operationId: courses_submissions_cell-submissions_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityCellSubmissionUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ActivityCellSubmissionDetail'
      tags:
        - submissions
    patch:
      operationId: courses_submissions_cell-submissions_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ActivityCellSubmissionUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ActivityCellSubmissionDetail'
      tags:
        - submissions
    parameters:
      - name: cell_submission_uuid
        in: path
        required: true
        type: string
      - name: course_slug
        in: path
        required: true
        type: string
      - name: submission_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/{submission_uuid}/complete/:
    post:
      operationId: courses_submissions_complete
      description: ''
      parameters: []
      responses:
        '200':
          description: The activity submission has successfully been completed.
          examples:
            application/json:
              detail: The activity submission has successfully been completed.
        '400':
          description: Submission cannot be completed.
          examples:
            application/json:
              detail: Submission cannot be completed.
      tags:
        - submissions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: submission_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/{submission_uuid}/mark-viewed/:
    post:
      operationId: courses_submissions_mark_as_viewed
      description: ''
      parameters: []
      responses:
        '200':
          description: Submission has been successfully submitted.
          examples:
            application/json:
              detail: Submission has been successfully submitted.
        '400':
          description: Submission cannot be submitted.
          examples:
            application/json:
              detail: Submission cannot be submitted.
      tags:
        - submissions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: submission_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/{submission_uuid}/submit/:
    post:
      operationId: courses_submissions_submit
      description: ''
      parameters: []
      responses:
        '200':
          description: Submission has been successfully submitted.
          examples:
            application/json:
              detail: Submission has been successfully submitted.
        '400':
          description: Submission cannot be submitted.
          examples:
            application/json:
              detail: Submission cannot be submitted.
      tags:
        - submissions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: submission_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/{submission_uuid}/validate/:
    post:
      operationId: courses_submissions_validate
      description: ''
      parameters: []
      responses:
        '202':
          description: Success
          examples:
            application/json:
              detail: Validation has been successfully started.
        '423':
          description: Failure
          examples:
            application/json:
              detail: Resource is locked.
              code: resource_locked
      tags:
        - submissions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: submission_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/submissions/{submission_uuid}/validation-results/:
    get:
      operationId: courses_submissions_validation_results
      description: ''
      parameters: []
      responses:
        '200':
          description: Success
          examples:
            application/json:
              detail: Validation results returned.
        '423':
          description: Failure
          examples:
            application/json:
              detail: Resource is locked.
              code: resource_locked
      tags:
        - submissions
    parameters:
      - name: course_slug
        in: path
        required: true
        type: string
      - name: submission_uuid
        in: path
        required: true
        type: string
  /courses/{course_slug}/threads/:
    post:
[...]
